body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  
}

.light{
  background-color: #e1e3e1;
  color: #f8718e;
}
.lightsvg{
  color: #73C7C7;
}

.darksvg{
  color: #A6F1E0;
}

.dark{
  background-color: #121212;
  color: #F7CFD8;
}

.btn--dark{
  background-color: transparent;
  border-color: #A6F1E0;
  border-radius: 5px;
}

.btn--dark:hover{
  background-color: transparent;
  border-color: #A6F1E0;
  border-radius: 5px;
  background-color: #A6F1E0;
}

.btn--light{
  background-color: transparent;
  border-color: #73C7C7;
  border-radius: 5px;
}
.btn--light:hover{
  background-color: transparent;
  border-color: #73C7C7;
  border-radius: 5px;
  background-color: #73C7C7;
}